
.img{
    
    background-image: url(hero\ Image.png);
    background-size: cover;
    width: 1130px;
    height: 50rem;
    left: 60rem;
    top: 416px;

}
button{
    background-color: rgb(37, 37, 37);
    color:rgb(230, 230, 230);
    border-radius:  15px;
    padding: 11px;
    padding-left: 28px;
    padding-right: 28px;
    border:none;

}
text{
    text-justify: auto;
}